<div class="container">
    <p>Me chamo Chrigor Eduardo, tenho 21 anos, sou recém formado em ciência da computação
        na Universidade Paulista (2020).</p>
    <p>Sou uma pessoa descontraída, divertida e curiosa. 
        Gosto de conversar e trocar informações sobre assuntos úteis e alguns não tão úteis (rs).
        Também gosto de testar meus conhecimentos em programação criando programas bobos e
        resolvendo desafios da internet.
    </p>
    <p>Gosto de aprender sobre determinados temas, como:</p>
    <ul>
        <li>Ciência</li>
        <li>Técnicas</li>
        <li>Desenvolvimento</li>
        <li>Mente Humana</li>
        <li>Leis da física</li>
        <li>Experimentos Cientificos</li>
        <li>Astronomia</li>
        <li>Táticas em Jogos</li>
    </ul>

    <p>
        Também possuo os seguintes hobbies:
    </p>

    <div class="container-profissional-skills">
        <h1>Hobbies</h1>
        <div class="grapichs">

            <div class="skill">
                <div class="info-skill">
                    <label for="">Futebol</label>
                    <!-- <span>2 years</span> -->
                </div>
                <progress value="80" max="100"></progress>
            </div>
            <div class="skill">
                <div class="info-skill">
                    <label for="">Desenvolvimento de softwares</label>
                    <span>2 years</span>
                </div>
                <progress value="76" max="100"></progress>
            </div>
            <div class="skill">
                <div class="info-skill">
                    <label for="">Jogar video games</label>
                    <!-- <span>2 years</span> -->
                </div>
                <progress value="80" max="100"></progress>
            </div>
            <div class="skill">
                <div class="info-skill">
                    <label for="">Escutar Música</label>
                    <!-- <span>1 year</span> -->
                </div>
                <progress value="90" max="100"></progress>
            </div>
            <div class="skill">
                <div class="info-skill">
                    <label for="">Assistir Videos</label>
                    <!-- <span>1 year</span> -->
                </div>
                <progress value="72" max="100"></progress>
            </div>
            <div class="skill">
                <div class="info-skill">
                    <label for="">Andar de Skate</label>
                    <!-- <span>2 years</span> -->
                </div>
                <progress value="65" max="100"></progress>
            </div>
        </div>
    </div>

    <div class="container-languages">
        <h1>Linguagens</h1>

        <div>
            <div class="card">
                <span>English</span>
                <span>Básico</span>
            </div>

            <div class="card">
                <span>Portugues</span>
                <span>Fluente Nativo</span>
            </div>

            <div class="card">
                <span>Espanhol</span>
                <span>Básico</span>
            </div>

        </div>
    </div>

</div>