<div class="container">

    <div class="container-capa">

    </div>

    <div class="info">
        <div class="info-profile">
            <img src="../../assets/profile.jpg" alt="profile-image">
            <div>
                <div class="info-profile-pessoal">
                    <p>I'm <strong>Chrigor Eduardo</strong></p>
                    <span>FullStack Developer at Grupo IV2</span>
                </div>
                <div class="profile-info-data">
                    <div>
                        <span class="title-info">Age</span>
                        <span class="value-info">21</span>
                    </div>
                    <div>
                        <span class="title-info">Location</span>
                        <span class="value-info">Cajamar, BR</span>
                    </div>
                    <div>
                        <span class="title-info">Email</span>
                        <span class="value-info">chrigor.edu3@gmail.com</span>
                    </div>
                    <div>
                        <span class="title-info">Cellphone</span>
                        <span class="value-info">(11) 943410554</span>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div>
                <a href="https://www.facebook.com/chrigor.eduardo" target="_blank"> <i class="fab fa-facebook-f"> </i> </a>
                <a href="https://www.linkedin.com/in/chrigoreduardo/" target="_blank"> <i class="fab fa-instagram"> </i> </a>
                <a href="https://www.instagram.com/echrigor/?hl=pt-br" target="_blank"> <i class="fab fa-linkedin-in"></i> </a>
                <a href="mailto:chrigor.edu3@gmail.com" target="_blank"> <i class="fas fa-envelope"></i> </a>
                <a href="https://github.com/Chrigor" target="_blank"> <i class="fab fa-github"></i> </a>
            </div>
        </footer>
    </div>

    <div class="container-content">
        <button (click)="handleClick($event)">Download resume</button>
    </div>
</div>